body{
	font-family: "Arial";
	color: #555555;
}
h1, h2, h3{
	color: black;
}
h1{
	font-size: 28px;
}

h2{
	font-size: 24px;
}

footer{
	font-size: 12px;
}

thead{
	height: 40px;
	font-size: 14px;
	text-align: left;
}

th{
	padding: 0px 0px 10px;
}

td:first-child{
	width: 100px;
	font-weight: bold;
}

tr:hover{
	background-color: #FEFFDB;
	cursor: pointer;
}
h2#Instructions{
	margin-top: 40px;
}

hr{
	color: #dddddd;
	clear: both;
	margin-top: 45px;
}

img{
	width: 100px;
}

#button{
	border: 1px solid #444444;
	border-radius: 10px;
	background-color: #FEFFDB;
	padding: 5px 25px 25px;
	width: 300px;
}

#top{
	background-color: #D3D3D3;
	height: 100px;
	display: flex;
	align-items: center;

}
button{
	float: right;
	border:	1px solid #8ABD2B;
	background-color: #C8F279;
	height: 30px;
	margin-top: 15px;
}

.form{
	border: 1px solid #444444;
	background-color: #e4e4e4;
	height: 320px;
	width: 225px;
	padding: 25px;
}

input[type="text"]{
	margin-bottom: 15px;
	width: 200px;
}

.form div select{
	margin-bottom: 15px;
}

textarea{
	height: 100px;
	margin-bottom: 15px;
	width: 200px;
}

input[type="submit"]{
	border:	1px solid #8ABD2B;
	background-color: #C8F279;
	width: 100px;
}

#top a{
	margin-right: 10px;
}

#top div img{
	margin-left: 10px;
}

@media (max-width: 600px){
	h1, h3, p, #button{
		text-align: center;
	}
	img, a{
		margin-left: auto;
		margin-right: auto;
	}
	#top{
		flex-direction: column;
		height: auto;
	}
	#top a{
		margin-right: auto; 
	}
	button{
		display: none;
	}
	header + img{
		width: 80%
	}
}
