body{
	font-family: "Arial";
	color: #555555;
}
h1, h2, h3{
	color: black;
}
h2{font-size: 18px;}
footer{font-size: 12px;}
thead{
	height: 40px;
	font-size: 14px;
	text-align: left;

}
td:first-child{
	width: 100px;
	font-weight: bold;
}
tr:hover{
	background-color: #FEFFDB;
	cursor: pointer;
}
h2#Instructions{
	margin-top: 40px;
}